<div class="flex items-center flex-col pt-56 h-screen">
  <div class="h-screen" style="margin-top: 50px;">
   

    <div class="flex flex-col items-center gap-5 justify-center">
      <div class="card">
        <div class="card-body" style="padding: 0px">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" style="margin-bottom: 0px">
                <button
                  class="accordion-button bgColor"
                  [class.collapsed]="isSecondAccordionOpen()"
                  (click)="isSecondAccordionOpen.set(isSecondAccordionOpen())"
                  style="text-align: center; display: flow; padding: 2px;"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Task List
                </button>
              </h2>
              <div
                id="collapseOne"
                [class.collapse]="true"
                [class.show]="!isSecondAccordionOpen()"
                class="accordion-collapse collapse show"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <app-task-table [taskList]="sendTaskList" [sendToParent]="receiveTaskForAction"></app-task-table>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" style="margin-bottom: 0px">
                <button
                  class="accordion-button collapsed bgColor"
                  [class.collapsed]="!isSecondAccordionOpen()"
                  (click)="isSecondAccordionOpen.set(!isSecondAccordionOpen())"
                  style="text-align: center; display: flow; padding: 2px;"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Add / Edit Task
                </button>
              </h2>
              <div
                id="collapseTwo"
                [class.collapse]="true"
                [class.show]="isSecondAccordionOpen()"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <form
                    [formGroup]="form"
                    class="example-form"
                    (ngSubmit)="onSubmit()"
                  >
                    <div class="mb-4">
                      <div class="row">
                        <div style="margin-top: 5px" class="col-sm-4">
                          <label>Title<span style="color: red">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Title"
                            aria-label="User Name"
                            aria-describedby="basic-addon1"
                            formControlName="title"
                          />
                          <div
                          *ngIf="form.get('title')?.touched && form.get('title')?.invalid"
                        >
                          <span *ngIf="form.get('title')?.hasError('required')" style="color: red">Title is required</span>
                        </div>
                        </div>
                        <div style="margin-top: 5px" class="col-sm-4">
                          <label>Discription<span style="color: red">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter description"
                            aria-label="User Name"
                            aria-describedby="basic-addon1"
                            formControlName="discription"
                          />
                          <div
                          *ngIf="form.get('discription')?.touched && form.get('discription')?.invalid"
                        >
                          <span *ngIf="form.get('discription')?.hasError('required')" style="color: red">Discription is required</span>
                        </div>
                        </div>

                        <div style="margin-top: 5px" class="col-sm-4">
                          <label>Status<span style="color: red">*</span></label>
                          <select
                          id="roleSelect"
                          class="form-control"
                          formControlName="status"
                        >
                          <option *ngFor="let option of statusOptions" [value]="option">
                            {{ option }}
                          </option>
                        </select>
                        <div
                        *ngIf="form.get('status')?.touched && form.get('status')?.invalid"
                      >
                        <span *ngIf="form.get('status')?.hasError('required')" style="color: red">Status is required</span>
                      </div>
                        </div>

                        <div style="margin-top: 5px" class="col-sm-4">
                          <label>Due Date<span style="color: red">*</span></label>
                          <input
                            type="date"
                            class="form-control"
                            placeholder="Enter Title"
                            aria-label="Due Date"
                            [min]="minDate"
                            aria-describedby="basic-addon1"
                            formControlName="dueDate"
                          />
                          <div
                          *ngIf="form.get('dueDate')?.touched && form.get('dueDate')?.invalid"
                        >
                          <span *ngIf="form.get('dueDate')?.hasError('required')" style="color: red">Due Date is required</span>
                        </div>
                        </div>
                       
                        <div style="margin-top: 5px" class="col-sm-4">
                          <label>Assign To<span style="color: red">*</span></label>
                          <select
                          id="roleSelect"
                          class="form-control"
                          [(ngModel)]="selectedRoleId"
                          [disabled]="isUserDisabled()"
                          formControlName="assignTo"
                        >
                          <option *ngFor="let option of userList" [value]="option?.id">
                            {{ option.userName }}
                          </option>
                        </select>
                        <div
                        *ngIf="form.get('assignTo')?.touched && form.get('assignTo')?.invalid"
                      >
                        <span *ngIf="form.get('assignTo')?.hasError('required')" style="color: red">Due Date is required</span>
                      </div>
                        </div>
                      </div>
                    </div>
                    <div style="text-align: center">
                      <button
                        type="submit"
                        class="btn btn-primary bgColor"
                      >
                        Save
                      </button>
                      <button
                        type="button"
                        class="btn btn-warning"
                        style="margin-left: 10px"
                        (click)="onCancel()"
                      >
                        Cancel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    </div>
  </div>
</div>
